/* Variables */
// common
$colorPrimary: #409EFF;
$colorSuccess: #67C23A;
$colorWarning: #E6A23C;
$colorDanger: #F56C6C;
$colorInfo: #909399;
$colorWhite: #FFFFFF;
$colorBlack: #000000;

$backgroundColorPrimary: #F1F1F1;
$backgroundColorSecondary: #FAFAFA;

$textColorNormal: #3E4044;
$textColorSecondary: #606266;
$textColorTertiary: #909399;
$textColorPlaceholder: #D8D8D8;

$borderColorNormal: #DDDDDD;
$borderColorSecondary: #EEEEEE;
$borderColorTertiary: #F1F1F1;

$fontSizeNormal: 14px;
$fontSizeSmall: 12px;
$fontSizeLarge: 16px;
$fontSizeLarger: 18px;

$fontWeightNormal: 400;
$fontWeightBold: 700;

$gapNormal: 20px;
$gapSmall: 12px;
$gapMini: 8px;
$gapLarge: 24px;
$gapLarger: 48px;

// navBar
$navBarHeight: 60px;

// breadcrumb
$breadcrumbHeight: 48px;

// breadcrumb
$breadcrumbHeight: 48px;


// sideBar
$sideBarWidth: 240px;
$sideBarBg: $colorWhite;
$sideBarBorderColor: $borderColorSecondary;
$sideBarWidthFold: 65px;
$sideBarLogoHeight: 48px;
$menuHeight: 48px;
$menuPaddingLeft: 40px;
$menuPaddingLeftFold: $gapLarge;
$menuPaddingRight: $gapLarge;
$menuBg: $colorWhite;
$menuText: $textColorNormal;
$menuHoverBg:rgba(64, 158, 255, .1);;
$menuActiveText: $colorPrimary; // Also see settings.sidebarTextTheme
$menuActiveBg:rgba(64, 158, 255, .1);
$menuIconSize: $fontSizeLarge;
$menuIconGap: $gapMini;
$subMenuPaddingLeft: 64px;
$subMenuPaddingLeftFold: 40px;
$subMenuPaddingRight: $gapLarge;
$subMenuBg:#fff;
$subMenuHover:#e6f6ff;
$subMenuActiveText:$colorPrimary;
$subMenuActiveBg:rgba(64, 158, 255, .1);
$subMenuIconSize: $fontSizeLarge;
$subMenuIconBg: #d8d8d8;
$subMenuIconActiveBg: $colorPrimary;
$subMenuIconGap: $gapMini;

// dialog
$dialogWidthNormal: 640px;
$dialogWidthSmall: 440px;
$dialogWidthLarge: 940px;


// The :export directive is the magic sauce for webpack
// https://mattferderer.com/use-sass-variables-in-typescript-and-javascript
:export {
  menuBg: $menuBg;
  menuText: $menuText;
  menuActiveText: $menuActiveText;
}
